{% extends 'base.html' %}

{% block title %}
Seashell | Homepage
{% endblock %}

{% block content %}
<div class="container-fluid" id="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 mt-5 mb-5"></div>
                <div class="col-md-12 mt-5 mb-5">
                    <h1>Sea Shell</h1>
                    <p id="detail1">
                        Shells are very common objects in the world, often used for decorations, collections, academic research, etc. With tens of thousands of species, shells are not easy to identify manually.Welcome to seashell! We will help you to recognitize shells using machine learning techniques.
                    </p>
                </div>
                <div class="col-md-12 mt-5 mb-5"></div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://media.istockphoto.com/photos/seashells-with-starfishes-background-picture-id1299916964?s=612x612" height="500"
            width="800" class=" float-img img-fluid" />
        </div>
    </div>
</div>
{% endblock %}